/* Fontes */
@font-face{
    font-family: ShadedLarch;
    src: url("../fonts/ShadedLarch.ttf");
}
@font-face{
    font-family: Philosopher;
    src: url("../fonts/Philosopher.ttf");
}

/* Tags */
ul{
    list-style-type: none;
}
iframe{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
hr{
    margin: 0px;
    border-color: gray;
}
h5{
    margin: 0px;
    font-size: 10px;
    color: gray;
    float: right;
}

/* Classes */
.menuItem{
    text-align: center;
    font-family: ShadedLarch;
    font-size: 30px;
    float: left;
    width: 20%;
}
.inativo{
    padding-top:10px;
    padding-bottom:10px;
    height: 55px;
}
.ativo{
    background-color: #fffdd0;
    height: 90px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 5px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
}
.abaMenu{
    display: none;
    position: relative;
    top: 60px;
}
.abaTitulo{
    text-align: center;
    font-family: ShadedLarch;
    font-size: 30px;
    color: #11802D;
}
.contDes{
    padding-top: 53px;
    padding-bottom: 53px;
}
.removeIcon{
    width: 22px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url("../imagens/remover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}
.okIcon{
    width: 22px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../imagens/ok.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}
.pizza-card{
    width: 340px;
    float: left;
    margin: 20px;
}
.pizza-img{
    width: 100%;
    height: 300px;
    cursor: pointer;
}
.card-title{
    text-align: center;
    color: #AC3030;
    font-family: ShadedLarch;
}
.card-text{
    font-family: Philosopher;
    color: gray;
    text-align: center;
}
.btSabor{
    margin: 0px 28% 0px 28%;
}

/* ID's */
#divInicio{
    height: 950px;
    background-image: url("../imagens/backgroundInicio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#divCarrossel{
    width: 100%;
    height: 500px;
}
#divCardapio{
    height: 1254px;
}
#divLocalizacao{
    width: 100%;
    height: 500px;
}
#divContatos{
    padding-top: 30px;
}
#navMenu{
    background-color: #D1D144;;
    border-bottom: 5px solid black;
    height: 60px;
    display: none;
}
#logoMenu{
    cursor: pointer;
    float: left;
    width: 20%;
    height: 200px;
    background-image: url("../imagens/logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#pizzasSalgadas{
    height: 3550px;
}
#pizzasDoces{
    height: 1000px;
}

/* ID's Concatenados */
#divInicio>img{
    width: 23%;
    height: 50%;
    position: relative;
    top: 380px;
    left: 50px;
}
#divInicio>ul{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 7%;
}
#divInicio>ul>li{
    font-size: 30px;
    font-family: ShadedLarch;
    float: left;
    width: 25%;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    height: 100%;
}
#navMenu>ul{
    padding: 0px;
    margin: 0 auto;
    width: 60%;
    height: 150px;
}
#divContatos>div>div>img{
    width: 100%;
    height: 100%;
}
#divContatos>div>div>p{
    font-family: Philosopher;
    color: #F58300;
}
#divContatos>h3{
    text-align: center;
    font-family: ShadedLarch;
    font-size: 30px;
    color: #F58300;
    text-decoration: underline; 
}
#divHistoria>p{
    font-family: Phlilosopher;
    color: gray;
    font-size: 30px;
}
#divHistoria>p>b{
    font-size: 50px;
    font-family: ShadedLarch;
    color: #AC3030;
}

/* Hovers */
.inativo:hover{
    cursor: pointer;
    background-color: #fffdd0;
}
#divInicio>ul>li:hover{
    cursor: pointer;
    color: #fffdd0;
    background-color: #AC3030;
}