/* Fontes */
@font-face{
    font-family: ShadedLarch;
    src: url("../fonts/ShadedLarch.ttf");
}
@font-face{
    font-family: Philosopher;
    src: url("../fonts/Philosopher.ttf");
}

/* Tags */
ul{
    list-style-type: none;
}
iframe{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Classes */
.menuItem{
    text-align: center;
    font-family: ShadedLarch;
    font-size: 30px;
    float: left;
    width: 20%;
}
.inativo{
    padding-top:10px;
    padding-bottom:10px;
    height: 55px;
}
.ativo{
    background-color: #fffdd0;
    height: 90px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 5px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
}
.abaMenu{
    display: none;
    position: relative;
    top: 60px;
}
.abaTitulo{
    text-align: center;
    font-family: ShadedLarch;
    font-size: 30px;
    color: #AC3030;
}
.contDes{
    padding-top: 53px;
    padding-bottom: 53px;
}
.removeIcon{
    width: 18px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url("../imagens/remover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}
.addIcon{
    width: 18px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url("../imagens/adicionar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}
.okIcon{
    width: 18px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url("../imagens/ok.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

/* ID's */
#divInicio{
    height: 950px;
    background-image: url("../imagens/backgroundInicio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#navMenu{
    background-color: #D1D144;;
    border-bottom: 5px solid black;
    height: 60px;
    display: none;
}
#logoMenu{
    cursor: pointer;
    float: left;
    width: 20%;
    height: 150px;
    background-image: url("../imagens/logo2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#divCarrossel{
    width: 100%;
    height: 400px;
}
#divCardapio{
    height: 2480px;
}
#divLocalizacao{
    width: 100%;
    height: 500px;
}
#divContatos{
    padding-top: 30px;
}
#btPedido{
    margin: 20px 41.5% 0px 41.5%;
}

/* ID's Concatenados */
#divInicio>img{
    width: 23%;
    height: 50%;
    position: relative;
    top: 380px;
    left: 50px;
}
#divInicio>ul{
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 5%;
    left: 10%;
    width: 35%;
    height: 7%;
}
#divInicio>ul>li{
    font-size: 30px;
    font-family: ShadedLarch;
    float: left;
    width: 25%;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    height: 100%;
}
#navMenu>ul{
    padding: 0px;
    margin: 0 auto;
    width: 50%;
    height: 150px;
}
#divCardapio>div>div>h4{
    font-family: Philosopher;
    color: #D1D144;
}
#divCardapio>div>div>p{
    font-family: Philosopher;
    color: gray;
}
#divCardapio>div>div>p>b{
    font-family: Philosopher;
    color: #AC3030;
}
#divContatos>div>div>img{
    width: 100%;
    height: 100%;
}
#divContatos>div>div>p{
    font-family: Philosopher;
    color: #F58300;
}
#divContatos>h3{
    text-align: center;
    font-family: ShadedLarch;
    font-size: 30px;
    color: #F58300;
    text-decoration: underline; 
}
#divPedido>div{
    display: none;
}
#divPedido>div>p{
    font-family: Philosopher;
    float: left;
    margin: 0px;
    font-size: 14px;
    color: #AC3030;
}
#divPedido>div>h3{
    font-family: ShadedLarch;
    font-size: 30px;
    color: rgb(14, 99, 14);
}

/* Hovers */
.inativo:hover{
    cursor: pointer;
    background-color: #fffdd0;
}
#divInicio>ul>li:hover{
    cursor: pointer;
    color: #fffdd0;
    background-color: #AC3030;
}